/* DISPLAY PROP HELPERS */
.d-flex {
    display: flex;
}

.d-inline-flex {
    display: inline-flex;
}

.d-block {
    display: block;
}

.d-inline-block {
    display: inline-block;
}

.d-inline {
    display: inline;
}

/* MARGIN PROP HELPERS */
@include generator('mr-', 'margin-right');
@include generator('ml-', 'margin-left');
@include generator('mt-', 'margin-top');
@include generator('mb-', 'margin-bottom');

/* PADDING PROP HELPERS */
@include generator('pr-', 'padding-right');
@include generator('pl-', 'padding-left');
@include generator('pt-', 'padding-top');
@include generator('pb-', 'padding-bottom');