@import 'variables.scss';

$iterations: 5;
$offset: 0.5;
$measuringUnit: 'rem';

@mixin generator($className, $styleName) {
  $i: 0;
  $value: 0;
  @while $i <= $iterations {
    #{$className + $i} { 
      #{$styleName}: #{$value + $measuringUnit};
    }
    $value: $value + $offset;
    $i: $i + 1;
  }
}

@mixin columnGenerator($columnSuffix) {
  $i: 1;
  @while $i <= $maxColumns {
    .col-#{$columnSuffix}-#{$i} {
      width: #{((100 / $maxColumns) * $i) + $columnsMeasuringUnit};
      margin: 5px 0;
    }

    $i: $i + 1;
  }
}

@mixin buttonGenerator($className, $btnColor) {
  #{$className} {
    background-color:$btnColor;
    color: white;

    &:hover {
        background-color: darken($color: $btnColor, $amount: 10%)
    }
  }

  #{$className}-outline {
    background-color: transparent;
    color: $btnColor;
    border: 1px solid $btnColor;

    &:hover {
        background-color: darken($color: $btnColor, $amount: 10%);
        color: white;
    }
  }
}

@mixin badgeGenerator($className, $btnColor) {
  #{$className} {
    background-color:$btnColor;
    color: white;
  }
}