.body-wrapper {
    display: flex;

    .main-content {
        width: 100%;
        height: 100%;
        background-color: #f5deb31c;
    }
}

.row div {
    height: 20px;
}

pre {
    background: lightgray;
    padding-left: 10px;
    padding-top: 10px;
}

.key {
    font-weight: 700;
}